body {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Helvetica", "Arial", "Sans-Serif";
  background-color: #f8edff;
}

::-webkit-scrollbar {
  width: 0px; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

p {
  margin: 0;
  padding: 0;
}

.container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.hello-msg {
  font-size: 50px;
}

.wrap {
  position: relative;
  font-size: 40px;
}

.first-slide {
  position: relative;
  background-color: #f8edff;
  color: #3d3b40;
  width: 100%;
  height: 90%;
  display: flexbox;
  align-items: center;
  text-align: center;
}

.first-slide-desc {
  color: inherit;
}

.second-slide {
  position: relative;
  background-color: #f8edff;
  width: 100%;
  height: 90%;
  opacity: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.third-slide {
  position: relative;
  background-color: #f8edff;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.experience-container,
.education-container,
.third-slide-container {
  margin: 10px;
  opacity: 0;
  width: 400px;

}

.experience-title,
.education-title,
.third-slide-title {
  color: #3d3b40;
  font-size: 50px;
  opacity: 0;
}

.experience-desc ul li,
.education-desc ul li {
  list-style-type: none;
  background: black;
  width: 6px;
  position: relative;
}

.experience-desc ul li div,
.education-desc ul li div {
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 15px 15px 15px 25px;
}


.experience-desc ul li::after,
.education-desc ul li::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  transform: translateX(-50%);
  border-radius: 50%;
  background: inherit;
  z-index: 1;
  margin-top: -50px;
}

.animate {
  animation: fadeIn 750ms ease-out backwards;
  opacity: 1;
}

@keyframes fadeIn {
  from {
    transform: translateY(250px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
